
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ghermez: red;
    --tousy: #262427;
    --abi: #0375BC;
}

@font-face {
    font-family: "font-matn";
    src: url(../font/IRANSansWeb_Medium.ttf);
}

@font-face {
    font-family: "font-titr";
    src: url(../font/BTitrBd.ttf);
}

body{
    font-family: "font-matn";
    font-size: 15px;
    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .logo-loader-neon {
    width: 120px;
    height: 120px;
    animation: neon-pulse 2s infinite ease-in-out;
    filter: drop-shadow(0 0 10px #ff7300);
  }
  
  @keyframes neon-pulse {
    0% {
      opacity: 0.4;
      filter: drop-shadow(0 0 2px #ff7300);
    }
    50% {
      opacity: 1;
      filter: drop-shadow(0 0 20px #ff7300) brightness(1.5);
    }
    100% {
      opacity: 0.4;
      filter: drop-shadow(0 0 2px #ff7300);
    }
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
  }

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid white;

    .meno{
        width: 100%;
        background-color: var(--tousy);
        padding: 20px 10px;
        margin: 0;
        @media(max-width:1100px){
            padding: 20px 0px;
        }
        &-berger{
            color: white;
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 101;
            @media(max-width:800px){
                display: block !important;
            }
            @media(max-width:450px){
                right: 10px;
                top: 21px;
            }
            &-btn{
                font-size: 25px;
                @media(max-width:450px){
                    font-size: 20px;
                }
                &:hover{
                    background-color: transparent !important;
                    border: none;
                    box-shadow: none;
                    text-shadow: none;
                }
            }
        }
        &-berger-box{
            padding: 0;
            margin: 0;
            margin-top: 20px;
            border-top: 1px solid gray;
            a{
                color: white ;
                font-size: 12px;
                display: block;
                padding: 7px 30px 7px 0;
                @media(max-width:450px){
                    padding: 7px 15px 7px 0;
                }
                transition: all 0.7s;
                &:hover{
                    background-color: var(--ghermez);
                }
            }
            .disabled{
                color: gray !important;
            }
        }
        &-nav{
            margin: 0;
            padding: 0;
            &-khali{
                @media(max-width:800px){
                    display: block !important;
                }
            }
            &-logo{
                a{
                    padding: 0;
                    margin: 0;
                    color: white;
                    font-family: "font-titr";
                    font-size: 25px;
                    margin-right: 25px;
                    background-color: var(--ghermez);
                    padding: 5px;
                    border-radius: 10px;
                    @media(max-width:1100px){
                        font-size: 20px;
                    }
                    @media(max-width:450px){
                        font-size: 15px;
                    }
                }
            }
            &-item{
                a{
                    color: white;
                    font-size: 15px;
                    margin: 0 5px;
                    border-radius: 10px;
                    padding: 10px;
                    transition: all 0.5s;
                    @media(max-width: 1100px){
                        margin: 0;
                    }
                    &:hover{
                        background-color: var(--ghermez);
                    }
                }
                .disabled{
                    color: gray !important;
                }
                @media(max-width: 800px){
                    display: none !important;
                }
            }
            &-tamas{
                button{
                    color: white;
                    font-size: 25px;
                    margin-left:25px;
                    transition: all 0.5s;
                    background-color: transparent;
                    border: none;
                    animation: cheshmak 1s infinite;
                    @media(max-width: 1100px){
                        font-size: 20px;
                    }
                    @media(max-width:450px){
                        font-size: 15px;
                    }
                    p{
                        color: white;
                        // font-family: "font-titr";
                        // font-weight: 600;
                        letter-spacing: 1px;
                        margin-left: 10px;
                        font-size: 25px;
                        @media(max-width: 1100px){
                            font-size: 20px;
                        }
                        @media(max-width:450px){
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.main{
    margin-top: 65px; 
    width: 100% !important;
    @media(max-width:1100px){
        margin-top: 60px; 
    }
    @media(max-width:800px){
        margin-top: 55px; 
    }
    @media(max-width:450px){
        margin-top: 55px; 
    }
    &-banner{
        position: relative !important;
        width: 100% !important;    
        height: 650px !important;
        position: relative;
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path:polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: black;
            opacity: 0.8;
        }
        &-title{
            margin-top: 120px;
            z-index: 1;
            color: white;
            position: relative;
            text-align: center;
            h1{
                font-size: 50px;
                font-family: "font-titr";
                margin-bottom: 30px;
                @media(max-width:700px){
                    font-size: 35px;
                }
                @media(max-width:450px){
                    font-size: 25px;
                }
            }
            h2{
                font-family: "font-matn";
                font-size: 30px;
                font-weight: 500;
                @media(max-width:700px){
                    font-size: 25px;
                }
                @media(max-width:450px){
                    font-size: 18px;
                }
            }
        }
        &-amar{
            margin-top: 100px;
            z-index: 101;
            &-box{
                border: 2px solid white;
                border-radius: 10px;
                text-align: center;
                width: 120px;
                padding: 20px 0;
                color: white;
                margin: 0 5px;
                @media(max-width:500px){
                    width: 90px;
                    padding: 10px 0;
                }
                p{
                    font-family: "font-titr";
                    margin: 10px 0;
                    @media(max-width:500px){
                        font-size: 12px;
                        margin: 5px 0;

                    }
                    i{
                        font-size: 25px;
                    }
                }
            }
        }
        
    }
    &-manategh{
        position: relative;
        width: 100% !important;
        background-color: var(--tousy);
        margin-top: 50px;
        padding:20px;
        text-align: center;
        >h2{
            color: white;
            font-family: "font-titr";
            font-size: 25px;
            padding: 0;
            text-align: center;
            margin-top: 30px !important;
            @media(max-width:800px){
                font-size: 20px;
            }
        }
        >p{
            color: white;
            font-family: "font-matn";
            font-size: 15px;
            margin-top: 25px !important;
            @media(max-width:800px){
                font-size: 13px;
            }
        }
        &-box{
            margin-top: 30px;
            padding-bottom: 50px;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            gap: 20px;
            @media(max-width:800px){
                grid-template-columns: auto auto;
                gap: 10px;
            }
            @media(max-width:450px){
                grid-template-columns: auto;
            }
            &-item{
                position: relative;
                border-radius: 10px;
                width: 300px !important;
                height: 150px !important;
                border-radius: 10px;
                background: linear-gradient(rgba(transparent,0.5),rgba(black,0.9));
                border: 1px solid white;
                @media(max-width:1000px){
                    width: 250px !important;
                    height: 150px !important;
                }
                @media(max-width:600px){
                    width: 200px !important;
                    height: 120px !important;
                }
                @media(max-width:450px){
                    width: 250px !important;
                    height: 120px !important;
                }
                >img{
                    width: 100% !important;
                    height: 100% !important;
                    border-radius: 10px;
                    opacity: 0.2;
                    object-fit: fill;
                }
                &-about{
                    border-radius: 10px;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    transition: all 0.5s;
                    padding:  10px;
                    @media(max-width:1000px){
                        padding:  5px;
                    }
                    @media(max-width:450px){
                        padding:  12px;
                    }
                    >h2{
                        color: white;
                        font-size: 20px;
                        font-family: "font-titr";
                        text-shadow: 1px 1px 5px black;
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        margin-bottom: 15px;
                        line-height: 1.5;
                        @media(max-width:1000px){
                            font-size: 18px;
                        }
                        @media(max-width:600px){
                            font-size: 15px;
                        }
                    }
                    >button{
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 13px;
                        color: white !important;
                        background-color: rgb(255, 56, 56);
                        padding: 5px 10px !important;
                    }
                }
            }
        }
    }
    &-chera{
        padding: 50px;
        margin-top: 20px;
        @media(max-width:1000px){
            padding: 25px;
            margin-top: 10px;
        }
        @media(max-width:700px){
            padding: 15px;
            margin-top: 0;
        }
        h2{
            font-family: "font-titr";
            font-size: 30px;
            text-align: center;
            @media(max-width:1000px){
                font-size: 25px;
            }
            @media(max-width:700px){
                font-size: 20px;
            }
        }
        &-box{
            margin-top: 60px;
            display: grid;
            grid-template-columns: auto auto auto auto ;
            justify-content: center;
            gap: 20px;
            text-align: center;
            @media(max-width:700px){
                grid-template-columns: auto auto ;
                gap: 10px;
            }
            @media(max-width:1100px){
                margin-top: 40px;
            }
            span{
                font-size: 25px;
                width: 80px !important;
                height: 80px !important;
                align-content: center;
                color: white;
                background-color: red;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 20px;
                @media(max-width:1100px){
                    font-size: 20px;
                    width: 65px !important;
                    height: 65px !important;
                }
                @media(max-width:700px){
                    width: 60px !important;
                    height: 60px !important;
                }
            }
            p{
                font-size: 20px;
                border-radius: 10px;
                color: white;
                @media(max-width:1100px){
                    font-size: 15px;
                }

            }
            &-item{
                background-color: var(--tousy);
                border-radius: 10px;
                width: 250px;
                padding: 30px 0;
                @media(max-width:1100px){
                    width: 150px;
                }
                @media(max-width:400px){
                    width: 140px;
                    padding: 20px 0;
                }
            }
        }
    }
    &-nemoune{
        width: 100% !important;
        position: relative;
        margin:40px 0 80px 0;
        font-size: 12px;
        h2{
            font-family: "font-titr";
            font-size: 30px;
            text-align: center;
            @media(max-width:1000px){
                font-size: 25px;
            }
            @media(max-width:700px){
                font-size: 20px;
            }
        }
        &-div{
            overflow-x: auto;
            width: 100% !important;
            position: relative;
        }
        &-box{
            background-color: white;
            border-radius: 20px;
            box-shadow: 1px 1px 10px red , -1px -1px 10px white;
            position: relative;
            width: 300px !important;
            border-radius: 10px;
            padding: 20px;
            margin: 25px;
            &-img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 10px;
                position: relative;
                transition: all 0.5s;
                &:hover img {
                    transform: scale(1.5);
                }
                img{
                    width: 100%;
                    height: 200px;
                    border-radius: 10px;
                    transition: all 0.5s;
                }
            }
            &-moshtary{
                margin-bottom: 20px;
                border-radius: 10px;
                border: 1px solid red;
                padding: 10px;
            }
            &-tozihat{
                margin-bottom: 20px;
                border-radius: 10px;
                border: 1px solid red;
                padding: 10px;
            }
            &-coment{
                margin-bottom: 20px;
                border-radius: 10px;
                border: 1px solid red;
                padding: 10px;
                .main-nemoune-box-about{
                    margin-top: 5px;
                }
            }
            &-icon{
                color: red;
                margin-left: 5px;
                i{
                    margin-left: 5px;
                }
            }
        }
    }
    &-darkhast{
        position: relative !important;
        width: 100% !important;
        height: 600px !important;
        background-image: url(../img/darkast.jpg); //dadan dorost esm o adres dar sorat boroz moshkel
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 50px;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: black;
            opacity: 0.8;
        }
        //start taghirat form
        &-box{
            position: absolute;
            right: 0;
            top: 0;
            padding: 100px 50px;
            z-index: 1;
            @media(max-width:500px){
                padding: 100px 15px;
            }
            h2{
                font-size: 25px;
                color: white;
                font-family: "font-titr";
                margin-bottom: 35px;
                @media(max-width:500px){
                    font-size: 20px;
                }
            }
        }
        .input-field {
            position: relative;
        }
          
        .input-field label {
            position: absolute;
            color: #8d8d8d;
            pointer-events: none;
            background-color: transparent;
            right: 15px;
            top: 13px;
            transition: all 0.3s ease;
            font-family: "font-matn";
        }
          
        .input-field input {
            padding: 10px 15px;
            font-size: 15px;
            border-radius: 8px;
            border: solid 1px #8d8d8d;
            letter-spacing: 1px;
            width: 400px;
            font-family: "font-matn";
            @media(max-width:500px){
                width: 260px;
            }
            outline: none;
            transition: 0.35s;
            padding: 10px 10px;
            background-color: #212121;
            border-radius: 6px;
            border: 2px solid #212121;
            box-shadow: 6px 6px 10px rgba(0,0,0,1),
            1px 1px 10px rgba(255, 255, 255, 0.6);
            margin-bottom: 30px;
        }
          
        .input-field input:focus,
        .input-field input:valid {
            outline: none;
        }
        .input-field input:focus ~ label,
        .input-field input:valid ~ label {
            transform: translateY(-30px) translateX(10px) scale(0.9);
            padding: 0px 5px;
            color: white;
            text-shadow: 2px 2px 10px white;
            font-weight: bold;
            letter-spacing: 1px;
            border: none;
            border-radius: 100px;
        }
        .input-field input:focus{
            transform: scale(1.05);
            box-shadow: 6px 6px 10px rgba(0,0,0,1),
            1px 1px 10px rgba(255, 255, 255, 0.6),
            inset 2px 2px 10px rgba(0,0,0,1),
            inset -1px -1px 5px rgba(255, 255, 255, 0.6);
        }
        .radio-input {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .radio-input * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        .radio-input label {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 10px 20px;
            width: 200px;
            cursor: pointer;
            position: relative;
        }
        .radio-input label::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            border-radius: 10px;
            border: 2px solid transparent;
        }
        .radio-input label:hover::before {
            transition: all 0.2s ease;
            background-color: rgb(107, 107, 107);
        }
        .radio-input .label:has(input:checked)::before {
            background-color: var(--ch-black);
            border-color: red;
            height: 50px;
        }
          .radio-input .label .text {
          color: #fff;
        }
        .radio-input .label input[type="radio"] {
            background-color: black;
            appearance: none;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .radio-input .label input[type="radio"]:checked {
            background-color: red;
            -webkit-animation: puls 0.7s forwards;
            animation: pulse 0.7s forwards;
        }
        .radio-input .label input[type="radio"]:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
            background-color: #fff;
            transform: scale(0);
        }
        .radio-input .label input[type="radio"]:checked::before {
            transform: scale(1);
        } 
        @keyframes pulse {
            0% {
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            }
            70% {
              box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
            }
            100% {
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            }
        }
        //payan taghirat form
          
        
    }
    &-khadamat{
        padding: 100px 20px;
        @media(max-width:550px){
            padding: 50px 10px;
        }
        >h2{
            font-size: 25px;
            font-family: "font-titr";
            text-align: center;
            margin-bottom: 20px;
            @media(max-width:550px){
                font-size: 20px;
            }
        }
        &-box{
            display: grid;
            grid-template-areas: 'khedmat1 khedmat2 khedmat3 khedmat4';
            justify-content: center;
            gap: 20px;
            @media(max-width:1100px){
                grid-template-areas: 'khedmat1 khedmat2' 'khedmat3 khedmat4';
            }
            @media(max-width:550px){
                gap: 10px;
            }
            @media(max-width:430px){
                grid-template-areas: 'khedmat1' 'khedmat2' 'khedmat3' 'khedmat4';
            }
            &-img{
                text-align: center;
                img{
                    width: 200px !important;
                    height: 150px !important;
                    border-radius: 10px;
                    @media(max-width:550px){
                        width: 150px !important;
                        height: 100px !important;
                    }
                }
            }
            &-titr{
                font-size: 15px;
                margin: 20px 0;
            }
            &-matn{
                font-size: 14px;
                margin: 10px 0;
                text-align: center;
                color: gray;
            }
            &-khedmat1{
                grid-area: khedmat1;
                border: 2px solid var(--ghermez);
                border-radius: 10px;
                text-align: center;
                padding: 40px 10px;
                width: 250px;
                @media(max-width:550px){
                    padding: 30px 5px;
                    width: 200px;
                }
            }
            &-khedmat2{
                grid-area: khedmat2;
                border: 2px solid var(--ghermez);
                border-radius: 10px;
                text-align: center;
                padding: 40px 10px;
                width: 250px;
                @media(max-width:550px){
                    padding: 30px 5px;
                    width: 200px;
                }
            }
            &-khedmat3{
                grid-area: khedmat3;
                border: 2px solid var(--ghermez);
                border-radius: 10px;
                text-align: center;
                padding: 40px 10px;
                width: 250px;
                @media(max-width:550px){
                    padding: 30px 5px;
                    width: 200px;
                }
            }
            &-khedmat4{
                grid-area: khedmat4;
                border: 2px solid var(--ghermez);
                border-radius: 10px;
                text-align: center;
                padding: 40px 10px;
                width: 250px;
                @media(max-width:550px){
                    padding: 30px 5px;
                    width: 200px;
                }
            }
        }
    }
    &-berand{
        padding: 100px 0;
        background-color: var(--tousy);
        h2{
            text-align: center;
            font-family: "font-titr";
            font-size: 25px;
            margin-bottom: 20px;
            color: white;
            margin-bottom: 50px;
            @media(max-width:950px){
                font-size: 20px;
            }
            @media(max-width:500px){
                font-size: 15px;

            }
        }
        &-box{
            display: grid;
            grid-template-areas: 'item1 item7 item3' 'item4 item5 item6' '. item2 .';
            justify-content: center;
            text-align: center;
            gap: 30px;
            padding-bottom: 20px;
            @media(max-width:500px){
                grid-template-areas: 'item1 item7' 'item3 item4' 'item5 item6' 'item2 item2';
                text-align: center;
            }
            img{
                width: 100px !important;
                height: 60px !important;
                border: 1px solid red;
                border-radius: 10px;
                padding: 5px;
                background-color: white;
            }
            &-item1{
                grid-area: item1;
            }
            &-item2{
                grid-area: item2;
            }
            &-item3{
                grid-area: item3;
            }
            &-item4{
                grid-area: item4;
            }
            &-item5{
                grid-area: item5;
            }
            &-item6{
                grid-area: item6;
            }
            &-item7{
                grid-area: item7;
            }
        }
    }
    &-soal{
        padding: 50px 0;
        text-align: center;
        h2{
            font-family: "font-titr";
            font-size: 25px;
            margin-bottom: 30px;
            @media(max-width:750px){
                font-size: 15px;
            }
        }
        &-box{
            width: 700px !important;
            @media(max-width:750px){
                width: 500px !important;
            }
            @media(max-width:550px){
                width: 280px !important;
            }
            button{
                width: 100%;
                border-top: 1px solid var(--ghermez);
                border-left: 1px solid var(--ghermez);
                border-right: 1px solid var(--ghermez);
                border-bottom: 1px solid var(--ghermez);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: var(--tousy);
                padding: 15px;
                color: white;
                @media(max-width:750px){
                    font-size: 12px;
                }
            }
            .javab{
                border-top: 1px solid var(--ghermez);
                border-bottom: 1px solid var(--ghermez);
                border-left: 1px solid var(--ghermez);
                border-right: 1px solid var(--ghermez);
                border-end-end-radius: 10px;
                border-end-start-radius: 10px;
                p{
                    text-align: right;
                    padding: 10px;
                    @media(max-width:750px){
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
}

.footer{
    background-color: var(--tousy);
    color: white;
    width: 100% !important;
    position: relative;
    &-darbare{
        padding: 30px 20px;
        display: grid;
        justify-content: space-around;
        grid-template-areas: 'ma tamas dastresy mojavez';
        @media(max-width:1100px){
            grid-template-areas: 'ma dastresy' 'tamas mojavez';
            gap: 20px;
            padding: 30px 10px;
        }
        @media(max-width:550px){
            grid-template-areas: 'ma' 'dastresy' 'tamas' 'mojavez';
            justify-content: center;
            gap: 20px;
        }
        h3{
            font-size: 20px;
            font-family: "font-titr";
            @media(max-width:1100px){
                font-size: 15px;
            }
        }
        &-ma{
            grid-area: ma;
            width: 300px;
            @media(max-width:1100px){
                font-size: 12px;
                width: 250px;
            }
        }
        &-dastresy{
            grid-area: dastresy;
            ul{
                li{
                    list-style-type:square;
                    list-style-position: inside;
                    a{
                        padding: 5px 0 0 0;
                        color: white;
                        background-color: transparent;
                        &:hover{
                            color: var(--ghermez);
                        }
                        @media(max-width:1100px){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &-tamas{
            grid-area: tamas;
            a{
                letter-spacing: 1px;
                display: block;
            }
        }
        &-mojavez{
            grid-area: mojavez;
            img{
                width: 100px !important;
                height: 100px !important;
                border-radius: 10px;
                border: 2px solid black;
                background-color: white;
                padding: 5px;
            }
        }
    }
    &-houghough{
        border-top: 1px solid gray;
        text-align: center;
        padding: 15px 0;
        color: gray;
        font-size: 12px;
        p{
            margin-bottom: 5px;
            span{
                color: white !important;
            }
        }
    }
}

.btn-shadow{
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    font-family: "font-matn";
    color: red;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid red;
    transition: 0.5s ease;
    user-select: none;
    padding: 10px 15px;
    margin: 20px 0;
}
  
.btn-shadow:hover,
:focus {
    color: #ffffff;
    background: red;
    border: 1px solid red;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px red, 0 0 20px red, 0 0 50px red,
      0 0 100px red;
}
// -------------------
.btn-hashie {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:10px 15px;
    font-size: 15px;
    font-family: "font-matn";
    font-weight: 500;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    background-color: var(--tousy);
}
  
.btn-hashie:before, .btn-hashie:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, 
    var(--ch-black), var(--eer-black),
    var(--night-rider), var(--ch-white), var(--night-rider), 
      var(--eer-black), var(--ch-black),var(--ch-black));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 15s linear infinite;
}
  
@keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
}
  
.btn-hashie:after {
    filter: blur(50px);
}


@keyframes cheshmak{
    0%{color: white;}
    50%{color: var(--ghermez)}
    100%{color: white;}
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: var(--ghermez);
    border-radius: 10px;
}

.main-article{
    margin: 130px 0;
    position: relative;
    @media(max-width:900px){
        margin: 110px 0;
    }
    &-title{
        font-size: 30px;
        font-family: "font-titr";
        text-align: center;
        @media(max-width:900px){
            font-size: 20px;
        }
    }
    &-content{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        @media(max-width:900px){
            grid-template-columns: auto auto;
        }
        @media(max-width:600px){
            grid-template-columns: auto;
        }
        &-card{
            width: 350px !important;
            background-color: var(--tousy);
            border-radius: 10px;
            box-shadow: 5px 5px 15px gray , -5px -5px 15px gray;
            padding: 25px;
            @media(max-width:1200px){
                width: 250px !important;
            }
            img{
                width: 100% !important;
                height: 250px !important;
                object-fit: fill;
                display: block;
                justify-self: center;
                border-radius: 10px;
                @media(max-width:1200px){
                    height: 150px !important;
                }
            }
            h2{
                font-size: 15px;
                color: white;
                text-align: center;
                margin-top: 25px;
                @media(max-width:1200px){
                    font-size: 12px;
                }
            }
            button{
                display: block;
                justify-self: center;
                margin-top: 25px;
                @media(max-width:1200px){
                    font-size: 12px;
                }
            }
        }
        &-nocard{
            margin: 0 30px;
            padding: 15px;
            border: 2px solid gray;
            h2{
                font-size: 15px;
                font-family: "font-titr";
                text-align: center;
            }
            p{
                font-size: 12px;
                font-family: "font-matn";
                text-align: center;
            }
        }
    }
}

.main-article-detail{
    padding: 0 100px;
    @media(max-width:1200px){
        padding: 0 50px;
    }
    @media(max-width:700px){
        padding: 0 30px;
    }
    &-titr{
        margin-top: 100px;
        margin-bottom: 50px;
        @media(max-width:700px){
            margin-top: 80px;
            margin-bottom: 30px;
        }
        span{
            margin-left: 5px;
            display: inline;
            font-size: 25px;
            @media(max-width:700px){
                font-size: 15px;
            }
        }
        h1{
            text-align: right;
            font-size: 30px;
            font-family: "font-titr";
            display: inline;
            @media(max-width:700px){
                font-size: 20px;
            }
        }
    }
    &-text{
        p{
            font-size: 15px;
            font-family: "font-matn";
            line-height: 2;
            @media (max-width:600px) {
                font-size: 13px;
            }
        }
    }
    img{
        width: 35vw !important;
        object-fit: fill;
        margin: 30px 0;
        display: block;
        justify-self: center;
        @media (max-width:1200px) {
            width: 40vw !important;
        }
        @media (max-width:900px) {
            width: 50vw !important;
        }
        @media (max-width:700px) {
            width: 60vw !important;
        }
        @media (max-width:550px) {
            width: 75vw !important;
        }
        @media (max-width:450px) {
            width: 85vw !important;
        }
    }
    &-album{
        margin: 40px 0 20px 0;
        h2{
            font-size: 20px;
            font-family: "font-titr";
            @media(max-width:700px){
                font-size: 15px;
            }
        }
        &-box{
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            gap: 20px;
            @media(max-width:900px){
                grid-template-columns: auto auto;
            }
            @media(max-width:600px){
                grid-template-columns: auto;
            }
            &-img{
                width: 350px !important;
                border-radius: 10px;
                @media(max-width:1200px){
                    width: 250px !important;
                }
                img{
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: fill;
                    display: block;
                    border-radius: 10px;
                    transition: all 0.5s;
                    cursor: pointer;
                    @media(max-width:1200px){
                        height: 150px !important;
                    }
                }
            }
        }
    }
    button{
        text-align: right;
        margin: 30px 0; 
    }
}