<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/all.js' %}"></script>
    <title>{{ article.title }}</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "نصب فیکس",
      "url": "https://nasbfix.ir/",
      "logo": "https://nasbfix.ir/static/img/logo-nasbfix.png"
    }
    </script>
</head>
<body>
    <header class="header">
        <section class="meno">
            <div class="meno-berger d-none">
                <button class="meno-berger-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#berger" aria-controls="berger" aria-expanded="false" aria-label="toggle nav">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
            </div>
            <nav class="meno-nav navbar navbar-expand nav-pills d-flex justify-content-between">
                <div class="meno-nav-khali d-none"></div>
                <div class="meno-nav-logo">
                    <a href="{% url 'home' %}" class="navbar-brand d-block">نصب فیکس</a>
                </div>
                <div class="meno-nav-item d-flex">
                    <a href="{% url 'home' %}#darkhast" class="nav-link nav-item d-block meno-nav-item">درخواست نصب و تعمیر</a>
                    <a href="{% url 'home' %}#darbarema" class="nav-link nav-item d-block meno-nav-item">درباره ما</a>
                    <a href="{% url 'home' %}#tekrar" class="nav-link nav-item d-block meno-nav-item">سوالات پر تکرار</a>
                    <a href="{% url 'article' %}" class="nav-link nav-item d-block meno-nav-item">مقالات</a>
                </div>
                <div class="meno-nav-tamas">
                    <button type="button" class="d-flex">
                        <a href="tel:09122343204">09122343204</a>
                        <span><i class="fa-solid fa-phone"></i></span>
                    </button>
                </div>
            </nav>
            <div class="meno-berger-box collapse navbar-collapse" id="berger">
                <div class="navbar-nav">
                    <a href="{% url 'home' %}#darkhast" class="nav-link nav-item">درخواست نصب و تعمیر</a>
                    <a href="{% url 'home' %}#darbarema" class="nav-link nav-item">درباره ما</a>
                    <a href="{% url 'home' %}#tekrar" class="nav-link nav-item">سوالات پر تکرار</a>
                    <a href="{% url 'article' %}" class="nav-link nav-item">مقالات</a>
                </div>
            </div>
        </section>
    </header>
    <main class="main">
        {% for section in article.sections.all %}
        <div class="main-article-detail">
            <div class="main-article-detail-titr">
                <span><i class="fa-solid fa-tag"></i></span>
                <h1>{{ section.title }}</h1>
            </div>
            <div class="main-article-detail-text">
                <p>{{ section.content|linebreaks }}</p>
            </div>
            {% if section.image %}
                <img src="{{ section.image.url }}" alt="{{ section.title }}" loading="lazy">
            {% endif %}
            {% endfor %}
            <div class="main-article-detail-album">
                <h2>آلبوم تصاویر مرتبط با مقاله:</h2>
                <div class="main-article-detail-album-box">
                    <div class="main-article-detail-album-box-img">
                        <img src="????????" alt="?????????" loading="lazy">
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" type="button" onclick="window.location.href='{% url 'article' %}'">بازگشت به لیست مقالات</button>
        </div>
    </main>
    <footer class="footer">
        <section class="footer-darbare" id="darbarema">
            <div class="footer-darbare-ma">
                <h3>درباره ما:</h3>
                <p>ما یه تیم فنی هستیم که حدود 10 سال در حوضه کولرگازی در حال فعالیت هستیم که الان به صورت رسمی نمایندگی ایران رادیاتور را داریم و به شرکت ها و برند های دیگه هم خدمات میدیم</p>
            </div>
            <div class="footer-darbare-tamas">
                <h3>ارتباط با ما:</h3>
                <a href="tel:09389956061">09389956061</a>
                <a href="tel:09122343204">09122343204</a>
            </div>
            <div class="footer-darbare-dastresy">
                <h3>دسترسی سریع:</h3>
                <ul>
                    <li>
                        <a href="/">خانه</a>
                    </li>
                    <li>
                        <a href="/article/">مقالات</a>
                    </li>
                </ul>
            </div>
            <div class="footer-darbare-mojavez">
                <h3>مجوزها:</h3>
                <img src="{% static 'img/iran-radiyator.png' %}" alt="نمایندگی رسمی شرکت ایران رادیاتور" loading="lazy">
            </div>
        </section>
        <section class="footer-houghough">
            <p>تمامی حقوق این سایت متعلق به <span>نمایندگی نصب فیکس</span> است</p>
            <p>این سایت توسط <span>تیم برنامه نویسی روموساپ</span> ساخته شده است</p>
        </section>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html> 