{% extends 'base.html' %}

{% block content %}
<body onload="hideLoader()">
    <div id="loader-wrapper">
        <img src="{% static 'img/logo-nasbfix.png' %}" alt="لوگوی نئون" class="logo-loader-neon">
        <p class="loading-text">در حال بارگذاری...</p>
    </div>
    <header class="header">
        <section class="meno">
            <div class="meno-berger d-none">
                <button class="meno-berger-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#berger" aria-controls="berger" aria-expanded="false" aria-label="toggle nav">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
            </div>
            <nav class="meno-nav navbar navbar-expand nav-pills d-flex justify-content-between">
                <div class="meno-nav-khali d-none"></div>
                <div class="meno-nav-logo">
                    <a href="#" class="navbar-brand d-block">نصب فیکس</a>
                </div>
                <div class="meno-nav-item d-flex">
                    <a href="#darkhast" class="nav-link nav-item d-block meno-nav-item">درخواست نصب و تعمیر</a>
                    <a href="#darbarema" class="nav-link nav-item d-block meno-nav-item">درباره ما</a>
                    <a href="#tekrar" class="nav-link nav-item d-block meno-nav-item">سوالات پر تکرار</a>
                    <a href="{% url 'article' %}" class="nav-link nav-item d-block meno-nav-item">مقالات</a>
                </div>
                <div class="meno-nav-tamas">
                    <button type="button" class="d-flex">
                        <a href="tel:09122343204">09122343204</a>
                        <span><i class="fa-solid fa-phone"></i></span>
                    </button>
                </div>
            </nav>
            <div class="meno-berger-box collapse navbar-collapse" id="berger">
                <div class="navbar-nav">
                    <a href="#darkhast" class="nav-link nav-item">درخواست نصب و تعمیر</a>
                    <a href="#darbarema" class="nav-link nav-item">درباره ما</a>
                    <a href="#tekrar" class="nav-link nav-item">سوالات پر تکرار</a>
                    <a href="{% url 'article' %}" class="nav-link nav-item">مقالات</a>
                </div>
            </div>
        </section>
    </header>

    <main class="main">
        <section class="main-banner w-100 d-flex flex-column">
            <div class="main-banner-title align-self-center d-block">
                <h1>نصب و تعمیر کولرگازی</h1>
                <h2>نمایندگی رسمی ایران رادیاتور</h2>
            </div>
            <div class="main-banner-amar d-flex justify-content-center">
                <div class="main-banner-amar-box text-center">
                    <p><i class="fa-solid fa-clock-rotate-left"></i></p>
                    <p>10+</p>
                    <p>سال سابقه</p>
                </div>
                <div class="main-banner-amar-box text-center">
                    <p><i class="fa-solid fa-list-check"></i></p>
                    <p>2,000+</p>
                    <p>پروژه انجام شده</p>
                </div>
                <div class="main-banner-amar-box text-center">
                    <p><i class="fa-regular fa-face-smile"></i></p>
                    <p>95%</p>
                    <p>رضایت مشتری</p>
                </div>
            </div>
        </section>
        <section class="main-manategh">
            <h2>مناطق تحت پوشش ما در تهران:</h2>
            <p>ما در تمام نقاط تهران و اطراف تهران خدمات نصب و تعمیر کولرگازی را انجام میدهیم فقط کافیه با شماره های داخل سایت تماس بگیرین یا با انتخاب منطقه خود از اینجا درخواست خود را ثبت کنید. </p>
            <div class="main-manategh-box">
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-north.jpg' %}" alt="نصب کولرگازی در شمال تهران ، تعمیر کولرگازی در شمال تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در شمال تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-south.jpg' %}" alt="نصب کولرگازی در جنوب تهران ، تعمیر کولرگازی در جنوب تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در جنوب تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-east.jpg' %}" alt="نصب کولرگازی در شرق تهران ، تعمیر کولرگازی در شرق تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در شرق تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-west.jpg' %}" alt="نصب کولرگازی در غرب تهران ، تعمیر کولرگازی در غرب تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در غرب تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-center.jpg' %}" alt="نصب کولرگازی در مرکز تهران ، تعمیر کولرگازی در مرکز تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در مرکز تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
                <div class="main-manategh-box-item">
                    <img src="{% static 'img/tehran-around.jpg' %}" alt="نصب کولرگازی در اطراف تهران ، تعمیر کولرگازی در اطراف تهران ، نصب کولرگازی ، نصب و تعمیر کولرگازی" loading="lazy">
                    <div class="main-manategh-box-item-about">
                        <h2>درخواست نصب و تعمیر کولرگازی در اطراف تهران</h2>
                        <button class="btn-shadow" type="button" href="{% url 'home' %}#darkhast">ثبت درخواست</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-chera">
            <h2>چرا نصب فیکس را انتخاب کنیم؟</h2>
            <div class="main-chera-box">
                <div class="main-chera-box-item">
                    <span><i class="fa-solid fa-award"></i></span>
                    <p>گارانتی نصب </p>
                </div>
                <div class="main-chera-box-item">
                    <span><i class="fa-solid fa-hand-holding-dollar"></i></span>
                    <p>قیمت منصفانه</p>
                </div>
                <div class="main-chera-box-item">
                    <span><i class="fa-regular fa-clock"></i></span>
                    <p>کمترین زمان</p>
                </div>
                <div class="main-chera-box-item">
                    <span><i class="fa-solid fa-house-circle-check"></i></span>
                    <p>نمایندگی رسمی</p>
                </div>
            </div>
        </section>
        <section class="main-nemoune">
            <h2>گلچینی از نظرات مشتری‌های ما:</h2>
            <div class="main-nemoune-div d-flex col-12">
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazy-istade-green.jpg' %}" alt="نصب کولرگازی گرین با قیمت مناسب ، نصب کولرگازی ایستاده گرین ، نصب کولرگازی گرین ، تعمیر کولرگازی گرین" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">آقای حسنی</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">796****0912</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی ایستاده گرین </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about">کارشون خوب بود، بخوام نظرمو متخصر و کوتاه بگم سریع و تمیز و با دقت بالا انجام شد و با قیمت مناسب</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazi-lg.jpg' %}" alt="نصب کولرگازی الجی با قیمت مناسب ، نصب کولرگازی الجی ، تعمیر کولرگازی الجی" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">خانم سلطانی</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">443****0902</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی الجی </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about"> خوش برخورد و با اخلاق بودن و کارشون تمیز بود و خونه ام کثیف نشد</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazy-iranradiator.jpg' %}" alt="نصب کولرگازی ایران رادیاتور با قیمت مناسب ، نصب کولرگازی ایران رادیاتور ، تعمیر کولرگازی ایران رادیاتور" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">آقای کشاورز زاده</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">300****0919</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی ایران رادیاتور </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about"> انتایم بودن و قیمتشون منصفانه بود حتما پیشنهاد میکنم</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazy-general.jpg' %}" alt="نصب کولرگازی جنرال با قیمت مناسب ، نصب کولرگازی جنرال ، تعمیر کولرگازی جنرال" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">آقای هنرور</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">980****0912</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی جنرال </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about">کارشون عالی بود و قیمت مناسبی داشتن و به موقع تحویل دادن</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazy-iranradiator-2.jpg' %}" alt="نصب کولرگازی ایران رادیاتور با قیمت مناسب ، نصب کولرگازی ایران رادیاتور ، تعمیر کولرگازی ایران رادیاتور" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">آقای کمالی</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">220****0938</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی ایران رادیاتور </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about">راضی بودم ممنون از تیم خوبتون</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazy-iranradiator-3.jpg' %}" alt="نصب کولرگازی ایران رادیاتور با قیمت مناسب ، نصب کولرگازی ایران رادیاتور ، تعمیر کولرگازی ایران رادیاتور" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">خانم قاسم زاده</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">412****0920</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی ایران رادیاتور </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about">ممنون از سایت نصب فیکس از خدمات نصب کولرگازی و سایتتون راضی بودم</p>
                    </div>
                </div>
                <div class="main-nemoune-box col-4">
                    <div class="main-nemoune-box-img">
                        <img src="{% static 'img/nasb-kolergazi-hisense.jpg' %}" alt="نصب کولرگازی هایسنس با قیمت مناسب ، نصب کولرگازی هایسنس ، تعمیر کولرگازی هایسنس" loading="lazy">
                    </div>
                    <div class="main-nemoune-box-moshtary d-flex justify-content-between align-content-center">
                        <div class="d-flex">
                            <p class="main-nemoune-box-icon"><i class="fa-regular fa-user"></i></p>
                            <p class="main-nemoune-box-about">خانم باقری</p>
                        </div>
                        <div class="">
                            <p class="main-nemoune-box-about align-self-center">008****0936</p>
                        </div>
                    </div>
                    <div class="main-nemoune-box-tozihat d-flex">
                        <p class="main-nemoune-box-icon"><i class="fa-solid fa-wrench"></i></p>
                        <p class="main-nemoune-box-about">نصب کولرگازی هایسنس </p>
                    </div>
                    <div class="main-nemoune-box-coment">
                        <p class="main-nemoune-box-icon align-self-center"><i class="fa-solid fa-comment"></i>نظر مشتری:</p>
                        <p class="main-nemoune-box-about">از خدماتشون راضی بودم</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-darkhast" id="darkhast">
            {% if messages %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var djangoMessages = [];
                {% for message in messages %}djangoMessages.push({text: '{{ message|escapejs }}', icon: '{{ message.tags|default:"success" }}'});{% endfor %}
                djangoMessages.forEach(function(msg) {
                  Swal.fire({
                    icon: msg.icon,
                    title: msg.text,
                    confirmButtonText: 'باشه'
                  });
                });
              });
            </script>
          {% endif %}
            <form id="request-form" method="POST" action="{% url 'request_specialist' %}" class="form-group main-darkhast-box" novalidate>
                {% csrf_token %}
                <h2 class="form-group">فرم درخواست سریع متخصص</h2>
                <div class="form-group input-field">
                    <input
                        class=""
                        autocomplete="off"
                        type="text"
                        name="name"
                        id="username"
                        required
                    >
                    <label class="" for="username">نام و نام خانوادگی:</label>
                </div>
                <div class="form-group input-field">
                    <input
                        class=""
                        autocomplete="off"
                        type="tel"
                        name="phone"
                        id="phone"
                        pattern="09[0-9]{9}"
                        maxlength="11"
                        required
                    >
                    <label class="" for="phone">لطفا شماره تماس خود را وارد کنید:</label>
                </div>
                <div class="radio-input">
                    <label class="label" for="install">
                      <input
                        type="radio"
                        id="install"
                        checked=""
                        name="service_type"
                        value="نصب"
                        required
                      />
                      <p class="text">نصب</p>
                    </label>
                    <label class="label" for="repair">
                      <input 
                        type="radio"
                        id="repair"
                        name="service_type"
                        value="تعمیر"
                        required
                        />
                      <p class="text">تعمیر</p>
                    </label>
                </div>
                <button type="submit" class="btn-shadow btn-hashie">ثبت درخواست</button>
            </form>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    function fa2en(str) {
                        return str.replace(/[۰-۹]/g, function(d) {
                            return '۰۱۲۳۴۵۶۷۸۹'.indexOf(d);
                        });
                    }
        
                    var form = document.getElementById('request-form');
                    var phoneInput = form.querySelector('input[name="phone"]');
                    var nameInput = form.querySelector('input[name="name"]');
                    var serviceInputs = form.querySelectorAll('input[name="service_type"]');
        
                    phoneInput.addEventListener('input', function() {
                        this.value = fa2en(this.value);
                        this.setCustomValidity('');
                    });
        
                    form.addEventListener('submit', function(e) {
                        let valid = true;
        
                        // اعتبارسنجی نام
                        if (!nameInput.value.trim()) {
                            nameInput.setCustomValidity('لطفا نام و نام خانوادگی را وارد کنید');
                            nameInput.reportValidity();
                            valid = false;
                        } else {
                            nameInput.setCustomValidity('');
                        }
        
                        // اعتبارسنجی شماره
                        if (!phoneInput.value.trim()) {
                            phoneInput.setCustomValidity('لطفا شماره تماس را وارد کنید');
                            phoneInput.reportValidity();
                            valid = false;
                        } else if (!/^09[0-9]{9}$/.test(phoneInput.value)) {
                            phoneInput.setCustomValidity('شماره تماس باید با 09 شروع شده و 11 رقم باشد');
                            phoneInput.reportValidity();
                            valid = false;
                        } else {
                            phoneInput.setCustomValidity('');
                        }
        
                        // اعتبارسنجی سرویس
                        let serviceChecked = false;
                        serviceInputs.forEach(function(input) {
                            if (input.checked) serviceChecked = true;
                        });
                        if (!serviceChecked) {
                            alert('لطفا نوع سرویس را انتخاب کنید');
                            valid = false;
                        }
        
                        if (!valid) {
                            e.preventDefault();
                        }
                    });
                });
                </script>
        </section>
        <section class="main-khadamat" id="khadamat">
            <h2>ما چه خدماتی ارائه میدیم؟</h2>
            <div class="main-khadamat-box">
                <div class="main-khadamat-box-khedmat1">
                    <div class="main-khadamat-box-img">
                        <img src="{% static 'img/nasb-koulergazy.jpg' %}" alt="خدمات و نصب کولرگازی با تهترین کیفبت و مناسب ترین قیمت با گارانتی و ضمانت نصب کولرگازی" loading="lazy">
                    </div>
                    <h3 class="main-khadamat-box-titr">نصب کولرگازی دیواری</h3>
                    <p class="main-khadamat-box-matn">کولرگازی دیواری یکی از رایج‌ترین سیستم‌های سرمایشی و گرمایشی برای منازل، دفاتر کار و فضاهای کوچک تا متوسط هست که با عملکرد کم‌صدا و مصرف بهینه، هوای مطلوب رو در کمترین زمان فراهم می‌کنه</p>
                </div>
                <div class="main-khadamat-box-khedmat2">
                    <div class="main-khadamat-box-img">
                        <img src="{% static 'img/nasb-dakt-espilet.jpg' %}" alt="خدمات و نصب داکت اسپیلت با بهترین کیفیت و مناسب ترین قیمت با گرانتی و ضمانت نصب" loading="lazy">
                    </div>
                    <h3 class="main-khadamat-box-titr">نصب داکت اسپیلت</h3>
                    <p class="main-khadamat-box-matn">داکت اسپیلت مناسب برای سرمایش و گرمایش چندین فضا به صورت هم‌زمانه، معمولاً در خانه‌های بزرگ، ویلاها یا دفاتر با چند اتاق استفاده می‌شه. این سیستم ظاهری یکپارچه داره و بدون نیاز به پنل‌های متعدد، کل فضا رو تحت پوشش قرار می‌ده</p>
                </div>
                <div class="main-khadamat-box-khedmat3">
                    <div class="main-khadamat-box-img">
                        <img src="{% static 'img/tamir-koulergazy.jpg' %}" alt="تعمیر انواع کولرگازی و داکت اسپیلت با مناسب ترین قیمت و ضمانت نصب" loading="lazy">
                    </div>
                    <h3 class="main-khadamat-box-titr">تعمیر انواع کولرگازی</h3>
                    <p class="main-khadamat-box-matn">کولرهای گازی در اثر کارکرد مداوم یا نصب غیراصولی دچار خرابی می‌شن؛ با تعمیر اصولی، می‌شه عمر مفید دستگاه رو افزایش داد و از هزینه‌های اضافی جلوگیری کرد</p>
                </div>
                <div class="main-khadamat-box-khedmat4">
                    <div class="main-khadamat-box-img">
                        <img src="{% static 'img/nasb-koulergazy-istade.jpg' %}" alt="خدمات نصب کولرگازی ایستاده با بهترین کیفیت و مناسب ترین قیمت با گارانتی و ضمانت نصب" loading="lazy">
                    </div>
                    <h3 class="main-khadamat-box-titr">نصب کولرگازی ایستاده</h3>
                    <p class="main-khadamat-box-matn">کولرهای ایستاده بیشتر در سالن‌ها، فروشگاه‌ها، مساجد، یا مکان‌هایی با نیاز به سرمایش قوی استفاده می‌شن. قدرت بالا و پوشش‌دهی وسیع از ویژگی‌های مهم این دستگاه‌هاست</p>
                </div>
                </div>
            </div>
        </section>
        <section class="main-berand w-100" id="brand">
            <h2>ما به چه برند ها و شرکت هایی خدمات میدیم؟</h2>
            <div class="main-berand-box">
                <div class="main-berand-box-item1">
                    <img src="{% static 'img/logo-gree.png' %}" alt="نصب انواع کولرگازی گری با ضمانت و گارانتی نصب توسط نماینده های شرکت گری" loading="lazy">
                </div>
                <div class="main-berand-box-item2">
                    <img src="{% static 'img/logo-iran-radiyator.png' %}" alt="نصب انواع کولرگازی ایران رادیاتور با ضمانت و گارانتی نصب توسط نماینده های شرکت ایران رادیاتور" loading="lazy">
                </div>
                <div class="main-berand-box-item3">
                    <img src="{% static 'img/logo-hisense.png' %}" alt="نصب انواع کولرگازی هایسنس با ضمانت و گارانتی نصب توسط نماینده های شرکت هایسنس" loading="lazy">
                </div>
                <div class="main-berand-box-item4">
                    <img src="{% static 'img/logo-green.png' %}" alt="نصب انواع کولرگازی گرین با ضمانت و گارانتی نصب توسط نماینده های شرکت گرین" loading="lazy">
                </div>
                <div class="main-berand-box-item5">
                    <img src="{% static 'img/logo-lg.png' %}" alt="نصب انواع کولرگازی الجی با ضمانت و گارانتی نصب توسط نماینده های شرکت الجی" loading="lazy">
                </div>
                <div class="main-berand-box-item6">
                    <img src="{% static 'img/logo-aux.png' %}" alt="نصب انواع کولرگازی ایوایکس با ضمانت و گارانتی نصب توسط نماینده های شرکت ایوایکس" loading="lazy">
                </div>
                <div class="main-berand-box-item7">
                    <img src="{% static 'img/logo-samsung.png' %}" alt="نصب انواع کولرگازی سامسونگ با ضمانت و گارانتی نصب توسط نماینده های شرکت سامسونگ" loading="lazy">
                </div>
            </div>
        </section>
        <section class="main-soal d-flex flex-column" id="tekrar">
            <h2>سوالات پرتکرار:</h2>
            <div class="main-soal-box align-self-center">
                <button class="navbar-toggler d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#soal1" aria-controls="soal1" aria-expanded="false" aria-label="toggle nav">
                    <p class="d-block">آیا شارژ گاز کولرگازی باید هر سال انجام شود؟</p>
                    <p class="d-block"><i class="fa-solid fa-plus"></i></p>
                </button>
                <div class="collapse navbar-collapse javab" id="soal1">
                    <div class="navbar-nav">
                        <p class="nav-item nav-link">خیر،اگر نصب به صورت اصولی انجام شود و نشتی نداشته باشد شما چندین سال میتوانین از همان گاز زده شده در دستگاه استفاده کنین</p>
                    </div>
                </div>
                <button class="navbar-toggler d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#soal2" aria-controls="soal2" aria-expanded="false" aria-label="toggle nav">
                    <p>کولرگازی در چه جاهایی نباید نصب شود؟</p>
                    <p><i class="fa-solid fa-plus"></i></p>
                </button>
                <div class="collapse navbar-collapse javab" id="soal2">
                    <div class="navbar-nav">
                        <p class="nav-item nav-link">پیدا کردن جای مناسب برای نصب کولرگازی ارتباط مستقیمی با میزان تنظیم دمای هوا در محیط شما دارد که در مکان هایی مانند آشپزخانه، زیر رادیات و شوفاژ نباید نصب شود.</p>
                    </div>
                </div>
                <button class="navbar-toggler d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#soal3" aria-controls="soal3" aria-expanded="false" aria-label="toggle nav">
                    <p>هر کولرگازی مناسب چه متراژی است؟</p>
                    <p><i class="fa-solid fa-plus"></i></p>
                </button>
                <div class="collapse navbar-collapse javab" id="soal3">
                    <div class="navbar-nav">
                        <p class="nav-item nav-link">کولر 12 هزار - 25 متری</p>
                        <p class="nav-item nav-link">کولر 18 هزار - 40 متری</p>
                        <p class="nav-item nav-link">کولر 24 هزار - 75 متری</p>
                        <p class="nav-item nav-link">کولر 30 هزار - 90 متری</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="faq-section" id="faq">
            <div class="container">
                <h2 class="section-title">سوالات متداول</h2>
                <div class="faq-container">
                    <div class="faq-item">
                        <h3>هزینه نصب کولرگازی چقدر است؟</h3>
                        <p>هزینه نصب کولرگازی بستگی به عوامل مختلفی مانند نوع کولرگازی، متراژ محل نصب، طبقه و منطقه دارد. برای اطلاع از قیمت دقیق، می‌توانید با ما تماس بگیرید.</p>
                    </div>
                    <div class="faq-item">
                        <h3>آیا در تمام مناطق تهران خدمات ارائه می‌دهید؟</h3>
                        <p>بله، ما در تمام مناطق تهران شامل شمال، جنوب، شرق، غرب، مرکز و اطراف تهران خدمات نصب و تعمیر کولرگازی ارائه می‌دهیم.</p>
                    </div>
                    <div class="faq-item">
                        <h3>چه برندهایی از کولرگازی را نصب می‌کنید؟</h3>
                        <p>ما نمایندگی رسمی ایران رادیاتور هستیم و همچنین خدمات نصب و تعمیر تمام برندهای معتبر کولرگازی را ارائه می‌دهیم.</p>
                    </div>
                    <div class="faq-item">
                        <h3>آیا گارانتی برای خدمات نصب و تعمیر ارائه می‌دهید؟</h3>
                        <p>بله، تمام خدمات نصب و تعمیر ما دارای گارانتی است و در صورت بروز هرگونه مشکل، تیم فنی ما در اسرع وقت در محل حاضر خواهد شد.</p>
                    </div>
                    <div class="faq-item">
                        <h3>چطور می‌توانم درخواست نصب یا تعمیر ثبت کنم؟</h3>
                        <p>شما می‌توانید از طریق فرم درخواست در سایت، تماس تلفنی یا پیام در واتساپ با ما در ارتباط باشید.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <section class="footer-darbare" id="darbarema">
            <div class="footer-darbare-ma">
                <h3>درباره ما:</h3>
                <p>ما یه تیم فنی هستیم که حدود 10 سال در حوضه کولرگازی در حال فعالیت هستیم که الان به صورت رسمی نمایندگی ایران رادیاتور را داریم و به شرکت ها و برند های دیگه هم خدمات میدیم</p>
            </div>
            <div class="footer-darbare-tamas">
                <h3>ارتباط با ما:</h3>
                <a href="tel:09389956061">09389956061</a>
                <a href="tel:09122343204">09122343204</a>
            </div>
            <div class="footer-darbare-dastresy">
                <h3>دسترسی سریع:</h3>
                <ul>
                    <li>
                        <a href="#darkhast">درخواست نصب و تعمیر</a>
                    </li>
                    <li>
                        <a href="#khadamat">خدمات ما</a>
                    </li>
                    <li>
                        <a href="#brand">برند های تحت پوشش</a>
                    </li>
                </ul>
            </div>
            <div class="footer-darbare-mojavez">
                <h3>مجوزها:</h3>
                <img src="{% static 'img/iran-radiyator.png' %}" alt="نمایندگی رسمی شرکت ایران رادیاتور" loading="lazy">
            </div>
        </section>
        <section class="footer-houghough">
            <p>تمامی حقوق این سایت متعلق به <span>نمایندگی نصب فیکس</span> است</p>
            <p>این سایت توسط <span>تیم برنامه نویسی روموساپ</span> ساخته شده است</p>
        </section>
    </footer>
</body>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // تبدیل اعداد فارسی به انگلیسی
        function fa2en(str) {
            return str.replace(/[۰-۹]/g, function(d) {
                return '۰۱۲۳۴۵۶۷۸۹'.indexOf(d);
            });
        }

        // روی همه inputهای شماره تلفن اعمال کن
        var phoneInputs = document.querySelectorAll('input[name="phone"]');
        phoneInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                this.value = fa2en(this.value);
                this.setCustomValidity('');
            });
            input.oninvalid = function(e) {
                if (!this.value) {
                    this.setCustomValidity('لطفا شماره تماس را وارد کنید');
                } else if (!/^09[0-9]{9}$/.test(this.value)) {
                    this.setCustomValidity('لطفا شماره تماس را صحیح و با اعداد انگلیسی وارد کنید');
                } else {
                    this.setCustomValidity('');
                }
            }
        });

        // پیام required برای همه فیلدها
        var requiredFields = document.querySelectorAll('input[required], textarea[required], select[required]');
        requiredFields.forEach(function(field) {
            field.oninvalid = function(e) {
                if (this.name === 'phone') return; // چون بالا پیام سفارشی دادیم
                this.setCustomValidity('لطفا این فیلد را پر کنید');
            }
            field.oninput = function(e) {
                this.setCustomValidity('');
            }
        });
    });
</script>
<script>
    const startTime = new Date().getTime();

    function hideLoader() {
      const now = new Date().getTime();
      const elapsed = now - startTime;
      const minTime = 1000;

      const wait = minTime - elapsed;
      setTimeout(() => {
        document.getElementById("loader-wrapper").style.display = "none";
        document.getElementById("content").style.display = "block";
      }, wait > 0 ? wait : 0);
    }
</script>
{% endblock %}